body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color:#333;
    background-color: #f4f4f9;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#first{
    text-align: center;
    background-color: #fff;
     padding: 20px 40px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);



}
h1{
    margin-bottom: 20px;
    color:#555;
}
#second{
    margin:20px 0;
    padding: 20px;
    background: #f9f9f9;
    font-style: italic;
    border-radius: 5px;
    border-left: 4px solid #007bff;
}
